*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

div{
  width:100px;
  height: 100px;
  border: 5px black solid;
  display: inline-block;
}

a{
  margin: 20px;
  padding: 10px;
  background-color: aquamarine;
  display: block;
}

.rojo{
  background-color: red;
}

.verde{
  background-color: green;
}

.azul{
  background-color: blue;
}