*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

div {
  width: 400px;
  height: 200px;
}


.caja1{
  background-color: burlywood;
  margin: 20px 10px;
  padding: 10px;
  border-top: 1px red groove;
  border-bottom: 10px violet dashed;
}

.caja2{
  background-color: darkgreen;
  margin: 20px 40%;
  padding: 10px; 
  border: 60px groove coral;
  border-radius: 10%;
}

.caja3{
  background-color: lightsalmon;
  margin: 50px 50px 10px 30%;
  padding: 10px 20px 30px 40px;
  border-right: 15px dotted blue;
  border-bottom: 5px inset cyan;
}