body {
  background-color: rgb(12, 12, 68);
  color: rgb(124, 180, 236);
  font-family: Verdana,Arial, Helvetica, sans-serif;
}

body header img {
  border-style: solid;
  border-radius: 90px;
  color: cyan;
  width: 300px;
}

a {
  color: cyan
}

table,th,td{
  border: solid 2px rgb(89, 89, 199);
}

#universidad {
  text-decoration: underline dashed 2px cyan;
}

#certificacion {
  color: orange;
}

#certificacion span {
  color: white;
  font-size: 30px"
}



