div {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: solid black 3px;
}

.grad1 {
  background: linear-gradient(to top, green, yellow);
}

.grad2 {
  background: radial-gradient(navy, pink, blueviolet);
  border-radius: 50%;
}

.grad3 {
  background: radial-gradient(ellipse, purple, cyan, darkblue);
  height: 100px;
}

.grad4{
  background: linear-gradient(to left, red,blue,yellow,green,navy,violet);
}