div {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.trans1 {
  background-color: royalblue;
  transition: all 2s ease;
}

.trans1:hover {
  width: 400px;
  background-color: lime;
}

.trans2 {
  background-color: navy;
  transition: all 3s ease-in;
}

.trans2:hover {
  background-color: coral;
  transform: scale(1.2, 1.2);
}

.trans3 {
  background-color: blueviolet;
  transition: all 1s ease-out;
}

.trans3:hover {
  background-color: yellow;
  transform: rotate(90deg);
}

.trans4 {
  background-color: fuchsia;
  transition: all 1s ease-out;
}

.trans4:hover {
  background-color: aqua;
  transform: skew(80deg);
  width: 500px;
}