body {
  background-image: url("./images/background.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

h1 {
  font-weight: normal;
}

.parrafo1 {
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 5px;
}

.parrafo2 {
  font-weight: bold;
  text-decoration: underline;
  word-spacing: 10px;
}

ol {
  list-style-type: upper-latin;
}

ul {
  list-style-image: url("./images/heart.png");
  list-style-position: inside;
}

#titulo1 {
  font-family: 'Monda', sans-serif;
}

#titulo2 {
  font-family: 'Montserrat', sans-serif;
}