* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, td {
  border: solid darkseagreen 2px;
}

audio, video, img {
  width: 200px;
}

header {
  background-color: darkcyan;
}

main {
  background-color: darkblue;
}

main p {
  color: coral;
}

a, td, th, label {
  color: cyan;
  text-decoration: none;
}

h2, h3 {
  color: red;
}

ul, ol, dl{
  color: magenta
}

#segundaCosa{
  color:cyan;
  font-weight: bold;
}

.listasBody{
  color: lime;
}