@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Charm:wght@400;700&family=Darker+Grotesque:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$lato: 'Lato', sans-serif;
$grot: 'Darker Grotesque', sans-serif;
$cav: 'Caveat', cursive;
$charm: 'Charm', cursive;
