@mixin alignStartOnMediaQuery() {
  @include media-up(lg){
    align-self: flex-start;
  }
}

.information {
  text-align: center;
  max-width: 90%;
  margin: 0 20px auto;
  color: $white;
  .information__display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    @include media-up(lg) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
    }
    .information__subtitle {
      font-family: $grot;
      padding: 15px 0 5px 0;
    }
    .information__sideImage {
      grid-area: imagen;
      max-width: 700px;
      @include media-up(sm) {
        max-width: 100%;
      }
    }
    .information__scale {
      transition: all 1s ease-in-out;
    }
    .information__scale:hover {
      border: 2px solid $red;
      transition: all 1s ease-in-out;
    }
    .information__scale--right:hover {
      transform: translate(50%, 0%) scale(1.5, 1.5);
      @include media-up(lg) {
        transform: none;
      }
    }
    .information__scale--left:hover {
      transform: translate(-50%, 0%) scale(1.5, 1.5);
      @include media-up(lg) {
        transform: none;
      }
    }
  }
  .information__image--left {
    grid-template-areas: "imagen texto";
    @include media-up(lg) {
      grid-template-areas: "imagen" "texto";
    }
  }
  .information__image--right {
    grid-template-areas: "texto imagen";
    @include media-up(lg) {
      grid-template-areas: "imagen" "texto";
    }
  }
  .information__sideArticle {
    grid-area: texto;
    align-self: center;
    @include media-up(lg) {
    }
    .information__paragraph {
      font-family: $lato;
      list-style: none;
    }
  }
}

.backgroundLogo {
  background-image: url("../../images/final_fantasy_xiv_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.character {
  max-width: 100%;
  padding: 20px 10%;
  display: grid;
  color: $white;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5rem repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "title title"
    "dkInfo dkImage"
    "whmImage whmInfo"
    "bardInfo bardImage"
    "rdmImage rdmInfo"
    "drgInfo drgImage";
  @include media-up(lg) {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem repeat(10, 35em);
    grid-template-areas:
      "title"
      "dkInfo"
      "dkImage"
      "whmInfo"
      "whmImage"
      "bardInfo"
      "bardImage"
      "rdmInfo"
      "rdmImage"
      "drgInfo"
      "drgImage";
  }
  div,
  img {
    align-self: center;
    justify-self: center;
  }
  .images {
    max-height: 80%;
    max-width: 80%;
    align-self: center;
    justify-self: center;
  }
  .jobIcons {
    max-width: 50px;
    margin-right: 10px;
  }
  .character__subtitle {
    grid-area: title;
    font-family: $grot;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
  }
  .character__info {
    max-width: 70%;
    .character__name{
      font-family: $cav;
      font-size: 2rem;
    }
    p {
      margin: 0;
    }
    @include media-up(lg) {
      max-width: 90%;
    }
  }
  .character__dkInfo {
    grid-area: dkInfo;
  }
  .character__dkImage {
    grid-area: dkImage;
    @include alignStartOnMediaQuery();
  }
  .character__whmInfo {
    grid-area: whmInfo;
  }
  .character__whmImage {
    grid-area: whmImage;
    @include alignStartOnMediaQuery();
  }
  .character__bardInfo {
    grid-area: bardInfo;
  }
  .character__bardImage {
    grid-area: bardImage;
    @include alignStartOnMediaQuery();
  }
  .character__rdmInfo {
    grid-area: rdmInfo;
  }
  .character__rdmImage {
    grid-area: rdmImage;
    @include alignStartOnMediaQuery();
  }
  .character__drgInfo {
    grid-area: drgInfo;
  }
  .character__drgImage {
    grid-area: drgImage;
    @include alignStartOnMediaQuery();
  }
}
