p{
  color: #0033ff;
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 12px;
}

section{
  width: 700px;
}

.section1{
  color:coral;
  background-color: darkcyan;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section2{
  color: red;
  background-color: gold;
  font-family: 'Times New Roman', Times, serif;
}

.section3{
  color: aqua;
  background-color: chocolate;
  font-family: monospace;
}


