* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(57, 143, 172);
}

h1 {
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
  border: 1px solid blue;
  width: 100px;
}

.gridPadre {
  border: 2px solid yellow;
  background-color: aqua;
  display: grid;
  /*grid-template-columns:  20% 30% 50%;*/
  /*grid-template-columns: 2fr 3fr 5fr*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows:1fr 1fr 1fr 1fr;*/
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "uno uno uno" 
    "dos dos tres" 
    "cuatro cuatro cinco" 
    "cuatro cuatro cinco" 
    "doce siete ocho";
  gap: 10px;
  /*"margen" entre las casillas*/
}

.caja1 {
  grid-area: uno;
}

.caja2 {
  grid-area: dos;
}

.caja3 {
  grid-area: tres;
}

.caja4 {
  grid-area: cuatro;
}

.caja5 {
  grid-area: cinco;
}

.caja6 {
  grid-area: seis;
}

.caja7 {
  grid-area: siete;
}

.caja8 {
  grid-area: ocho;
}

.caja9 {
  grid-area: nueve;
}

.caja10 {
  grid-area: diez;
}

.caja11 {
  grid-area: once;
}

.caja12 {
  grid-area: doce;
}