*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridPadre{
  width: 90%;
  max-width: 80vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "main main empty aside"
    "footer footer footer footer";
  gap:10px;
  justify-items: center;
  background-color: black;
}

.contHijo{
  color:white;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 30vh;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  grid-area:header;
  background-color: blue;
}

.main{
  grid-area: main;
  background-color: yellow;
}

.empty{
  grid-area: empty;
  background-color: grey;
}

.sidebar{
  grid-area: aside;
  background-color: red;
}

.footer{
  grid-area: footer;
  background-color: green;

}